* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container {
  display: flex;
  max-width: 1920px;
  height: 100%;

  width: 400px;
  position: fixed;
  z-index: -1;
  top: 0;

  overflow-x: hidden;
}
main {
  width: 100%;
  padding: 10px 10px 0px 10px;
}
.sidebar {
  /* background: #fff; */
  background-color: white;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  color: #000;
  /* height: 100vh; */
  width: 350px;
  transition: all 0.5s;
  /* padding-top: -100px; */

  z-index: -1;
  position: relative;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  margin-top: 20px;
}
.logo {
  font-size: 30px;
  width: 200px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: #000;
  padding: 10px 15px;
  row-gap: 50px;
  gap: 50px;
  margin-top: 10px;
  transition: all 0.5s;
  justify-content: left;
}
.link:hover {
  background: var(--color_blue);
  color: #000;
  transition: all 0.5s;
  border-radius: 10px;
  /* justify-content: center; */
}
.active {
  background: var(--color_blue);
  color: #000;
  border-radius: 10px;
}
.icon {
  font-size: 20px;
}
.link_text {
  font-size: 20px;
}
.admininerimage {
  height: 100px;
  width: 100px;
  border: 1px solid;
  border-radius: 100%;
}
.saidbar_componet {
  padding-top: 10px;
  overflow-y: auto;
  column-gap: 50px;
  height: 600px;
}
.Adminprofile {
  /* background-color: blue; */
  /* width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row; */
  font-size: 20px;
  text-align: center;
  padding: 10px 0px 20px 0px;
}
.adminimag {
  text-align: center;
}
.forcenter {
  /* justify-content: center;
    align-items: center; */
  /* text-align: center; */
}
@media (min-width: 600px) {
  .sidebar {
    width: 250px;
  }
  .content {
    margin-left: 250px;
  }
}
.tobarsaidbar {
  width: 1980px;
  height: 20px;
  border: 1px solid;
}
