.pading {
  color: #dd0000;
  fill: #dd0000;
}
.Complet {
  color: green;
  fill: green;
}
.masege {
  color: black;
  background-color: white;
}
.messege2 {
  padding: 10px 50px;
  margin: 0px 20px;
  display: flex;
  gap: 20px;
}

.enquiryPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.62);
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteners {
  position: relative;
  padding: 20px;
  width: 55%;
  max-width: 950px;
  background-color: #fff;
  border-radius: 30px;
}
.popupboxleft {
  margin-bottom: 20;
  list-style: none;
  color: #a5a5a5;
  font-size: 15;
  font-weight: bold;
  /* justify-content: space-between; */
  margin-bottom: 20px;
  text-align: start;
}
.textalinepopupcenter {
  text-align: center;
}
.maincontentinpopup {
  display: flex;

  flex-direction: row;
}
.popupboxright {
  text-align: right;
  color: #000000;
  font-size: 15px;
  font-weight: bold;
}
.enquirypoptitle {
  color: #304269;
  font-size: 20;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
.IoCloseSharp {
  float: right;
  font-size: 30px;
  margin-right: 25px;
  color: #555;
}
.flexcontener {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.maincontent {
  /* display: flex;
  flex-direction: column; */
}
.buttom-flex {
  display: flex;
}
.submintbutton {
  background-color: #05013b;
  color: #ffffff;
  border-radius: 25px;
  width: 130px;
  padding: 8px;
  margin: 10px;
  margin-left: 12rem;
}
.is-checkradio {
  accent-color: #05013b;
  border: 2px solid #05013b;
  width: 20px;
  height: 20px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .enquiryPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.62);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conteners {
    position: relative;
    padding: 20px;
    width: 70%;
    max-width: 950px;
    background-color: #fff;
    border-radius: 30px;
  }
}
